.home-two-column-container {
  margin: auto;
  display: flex;
  background-color: #f2f2f2;
  height: 100%;
  
  .column-1 {
    width: 25%;
  }
  .column-2 {
    width: 75%;
  }
  .active {
    cursor: pointer;
    background-color:rgba(189, 238, 196, 0.315);
    color: #459050;
  }
  .vertical-menu {
    
    display: block !important;
    width: 100%;
    text-align: center;
    list-style-type: none;
    padding: 0px;
  }

  li {
    color: #212121;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    padding: 12px;
    cursor: pointer;
    font-size: 18px;
  }

  li:after {
    display: none;
  }

  .to-right {
    float: right;
  }

  .m-r-10 {
    margin-right: 10px;
  }
    
  .first-visit-container {
    .mat-form-field:not(.full-width) {
      width: 220px;
    }
  }
  .first-visit-header {
    height: 130px;
    background: url(../../../assets/images/animals.jpg);
  }
  .vaccination {
    padding: 20px 0;
  }
  .fields-container {
    display: flex;
    flex-direction: column;
  }

  .mat-radio-button {
    margin-right: 10px;
  }

  .textarea-complaints {
    min-height: 250px;
  }

  .owner-pet-table {
    padding: 10px 20px;
  }
  .delete-button {
    float: right;
  }

  .highlight{
    background-color:rgba(189, 238, 196, 0.315);
  }

  .mat-row{        
    position: relative;
  }

  .mat-row-link{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;             
  }

  .no-record {
    text-align: center;
  }

  .tab,
  .tab:link,
  .tab:visited,
  .tab:hover,
  .tab:focus,
  .tab:active{
    color: inherit;
    text-decoration: none;
  }

  @media(max-width:550px){
    .home-two-column-container {
      width: 100%;
      .column-1 li {
        font-size: 14px;
      }
    }
  }

  @media(min-width: 550px) {
    .wild-animal-save-button {
      max-width: 100px;
      align-self: flex-end;
    }
  }

}