<div *ngIf="dataSource?.data.length; else noRecord" class="owner-pet-table">
	<mat-form-field>
			<mat-label>Search</mat-label>
			<input matInput (keyup)="applySearch($event)" placeholder="Owner or pet name" #input>
	</mat-form-field>
	<button class="delete-button" mat-icon-button color="warn" [disabled]="disabledDelete" (click)="deleteOwner()">
			<mat-icon>delete</mat-icon>
	</button>
  <div class="material-table mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- Open Owner Info Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell  *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <a [routerLink]="['../../owner-profile', row.id]"> <button mat-icon-button color="warn">
            <mat-icon>open_in_new</mat-icon>
        </button> </a>
        </td>
      </ng-container>
      <!-- fullName Column -->
      <ng-container matColumnDef="fullName">
        <th mat-header-cell width ="19%" *matHeaderCellDef mat-sort-header> Owner Name </th>
        <td mat-cell *matCellDef="let row"> {{row.fullName}} </td>
      </ng-container>
  
      <!-- PhoneNumber Column -->
      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell width ="20%" *matHeaderCellDef mat-sort-header> Contact Phone </th>
        <td mat-cell *matCellDef="let row"> {{row.phoneNumber}} </td>
      </ng-container>
  
      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell width ="20%" *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let row"> {{row.email}} </td>
      </ng-container>
  
       <!-- Address Column -->
       <ng-container matColumnDef="address">
        <th mat-header-cell width ="20%" *matHeaderCellDef mat-sort-header> Address </th>
        <td mat-cell *matCellDef="let row"> {{row.address}} </td>
      </ng-container> 
      
      <!-- Pets Column -->
      <ng-container matColumnDef="petsList">
        <th mat-header-cell width ="20%" *matHeaderCellDef mat-sort-header> Pets List </th>
        <td mat-cell *matCellDef="let row"> {{row.petsList}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
     <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'highlight': selectedRowIndex == row.id}"
      (click)="selectRow(row.id)">
    </tr>
  
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the search "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [length]="ownersCount" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>
<ng-template #noRecord>
  <div *ngIf="!isLoading" class="no-record">
    <img src="../../../assets/images/dog2.jpeg">
    <p>Ooops, No Records yet...</p>
   </div>
 </ng-template>

 <div *ngIf="isLoading" class="loader">
  <mat-progress-spinner 
    color="primary" 
    mode="indeterminate">
  </mat-progress-spinner>
</div>